{% load static %}
<section class="text-center features-icons" >
    <div class="container bg-dark rounded">
        <div class="row bdwhite rounded" style="margin-top: 5rem; margin-bottom: 5rem;">
            <div class="col-lg-4" >
                <div class="mx-auto mb-5 mb-lg-0 mb-lg-3" id="ic-hov">
                    <div class="d-flex"><i class="icon-screen-desktop m-auto text-primary">
                        <img src="{% static 'assets/img/icon1.svg' %}" alt="loding..." width="100px">
                    </i></div>
                    <h3>Fully Responsive</h3>
                    <p class=" mb-0">This theme will look great on any device, no matter the size!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mx-auto mb-5 mb-lg-0 mb-lg-3" id="ic-hov">
                    <div class="d-flex"><i class="icon-layers m-auto text-primary">
                        <img src="{% static 'assets/img/icon2.svg' %}" alt="loding..." width="100px">
                    </i></div>
                    <h3>Bootstrap 5 Ready</h3>
                    <p class="lead mb-0">Featuring the latest build of the new Bootstrap 5 framework!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mx-auto mb-5 mb-lg-0 mb-lg-3" id="ic-hov">
                    <div class="d-flex"><i class="icon-check m-auto text-primary">
                        <img src="{% static 'assets/img/icon3.svg' %}" alt="loding..." width="100px">
                    </i></div>
                    <h3>Easy to Use</h3>
                    <p class="lead mb-0">Ready to use with your own content, or customize the source files!</p>
                </div>
            </div>
        </div>
    </div>
</section>